body {
    padding: 0 180px;
}

h2, h3 {
    margin: 0;
}

h3 {
    padding: 5px;
}

#nav {
    height: 10vh;
}

#pic {
    height: 40vh;
}

#recipew {
    height: 50vh;
}

#favorite {
    height: 50vh;
}

#timer {
    height: 40vh;
}
